<div class="rewards">
  <div class="flex justify-center items-center">
    <h1 class="text-8xl">Supporter Loyalty Program</h1>
    <%= image_tag "rewards/cta-badge.png",class:"cta-badge" %> 
  </div>
  
  <div class="sponsorship-progress">
    This is where a progress bar would be if I had one
  </div>
  
  <h2>Rewards:</h2>
  <div class="rewards">
    <%= image_tag "rewards/bird_of_prey_reward.png",class:"rewards-img", title:"Bird of Prey Reward"  %>
    <%= image_tag "rewards/Iceberg_reward.png", class:"rewards-img", title:"Iceberg" %>
  </div>

</div>
