<footer class="bg-gray-blue">
  <div class="">
    <div class="footer-left">
      <h3 class="f-95 text-white aboreto text-shadow">Flock</h3>
    </div>
    <div class="footer-right">
      <h4>Explore. Discover. Connect with Southern Africa’s incredible birdlife.</h4>
    </div>
  </div>
</footer>
