<footer class="bg-gray-blue">
  <div class="parent">
    <div class="div1">
      <h3 class="f-95 text-white aboreto text-shadow">Flock</h3>
    </div>
    <div class="div2">
      <h4>Explore. Discover. Connect with Southern Africa’s incredible birdlife.</h4>
    </div>
  </div>
</footer>
