<%= render 'header' %>
<%= render 'navbar' %>

<div class="max-w-screen-xl m-auto fresca mtop">

  <h1 class="text-5xl bg-sand caveat">About Flock</h1>

  <div class="mt-3.5 box p-2.5">
    <p>
      Flock was born out of a deep passion for both birds and web development, two areas that have captivated me for years.

      As a software developer, I've always had the drive and ambition to create something of my own, something meaningful that merges my interests with my technical skills. In my late 20s, I discovered the fascinating and diverse world of birds, and what began as a casual interest quickly turned into a profound love. Over time, I found myself continuously building web apps focused on different bird-related topics, each project fueled by my growing curiosity and admiration for these creatures. From this collection of smaller projects, Flock gradually took shape, evolving into the comprehensive platform it is today.
    </p>
  </div>
  <div class="box mt-2.5 p-2.5">
    <p>
      I am deeply and forever thankful for the incredible supporters and generous sponsors who continue to fund and back this project purely out of the kindness of their hearts, without expecting anything in return. Their unwavering belief in the vision and selfless contributions make everything possible, and I am profoundly grateful for their trust, encouragement, and dedication.
    </p>
  </div>
  
  <div class="box mt-2.5 p-2.5">
    <p>
      Although I truly wish I could dedicate all of my time and energy to Flock, the reality is that this remains a passion project, something I maintain and nurture in my spare time. Despite the time constraints, I am deeply committed to improving and evolving Flock. If you have any feature requests, suggestions, or ideas, please don't hesitate to reach out via <a href="mailto:admin@flock.com" class="link-btn">email</a>. I always welcome feedback and would love to hear how we can make Flock even better.
    </p>
  </div>
  
</div>

<%= render 'footer' %>
