.text-white{
  color: #f1faee;
}

.bg-gray-blue{
  background-color: #6C8D94;
}

.text-red{
  color: #BF3111;
}

.text-camel{
  color: #D9A86C;
}

.text-sand{
  color: #D9CAAD;
}

.text-yellow{
  color: #F2A922;
}

.text-black{
  color: #0F1318
}

.bg-camel{
  background-color: #D9A86C;
}
