.banner{
  background-image: url("flock-of-birds--biodiversity.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.centered{
  justify-content: center;
  align-items: center;
}

.no-list{
  list-style-type: none;
}

.space-around{
  justify-content: space-around;
}

.hero{
  width: 75%;
  margin: 0 auto;
  margin-top: 125px;
}

.space-evenly{
  justify-content: space-evenly;
}

.gap-20{
  gap: 20px
}

.hero-img{
  width: 150px;
}

.heading{
  width: 750px;
}

menu{
  padding: 12px;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 90%;
  margin: 0 auto;
  /* margin-top: 125px; */
}

.div1 { grid-area: 1 / 2 / 2 / 3; }
.div2 { grid-area: 1 / 3 / 2 / 4; }
.div3 { grid-area: 1 / 4 / 2 / 5; }

.feature-img{
  width: 150px;
  margin: 0 auto;
}

.line{
  border: 1px solid #D9CAAD;
  margin: 0 auto;
  width: 70%;
}

.infos{
  width: 60%;
  margin: 0 auto;
}

.cta{
  width: 40%;
  margin: 0 auto;
  padding: 12px 8px;
  border-radius: 12px;
}

.cta-img{
  width: 100%;
}

.cta-descript{
  padding: 12px 8px;
}

.cta-text{
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
}

.cta-btn{
  margin-top: 15px;
  padding: 8px 14px;
  border-radius: 12px;
  background-color: #BF2C0B;
  text-decoration: none;
  color: #D9CAAD;
}

.nav-link{
  text-decoration: none;
  color: #D9A86C;
}

.card-container{
  border: 1px solid #ddd;
  border-radius: 12px;
  overflow: hidden;
  max-width: 300px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 16px;
}

.display-img{
  width: 250px;
}

.bird-title{
  margin-top: 50px;
}

.stats{
  width: 500px;
  border: 4px solid #6C8D94;
  padding: 12px;
  border-radius: 12px;
  margin-top: 25px;
}

.bird-description{
  margin-top: 25px;
  width: 700px;
}

.previous-button, .next-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
}

.previous-button {
  left: 20px; 
}

.next-button {
  right: 20px;
}

.svg-icon {
  width: 75px;
  height: 75px;
}

.previous-button:hover .svg-icon,
.next-button:hover .svg-icon {
  opacity: 0.8; /* Add hover effect */
}

.full-height{
  height: 100vh;
}
